 @import "_mixin";

$mainPointColor: #39594f;
$mainColor: #454545;
$fontColor: #1a1a1a;
$white: #fff;

.no_scroll{
    overflow: hidden;
}
.mask {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    background: $mainPointColor;
    z-index: 9999;
    &.on{
        animation: mask both ease-out 0.9s 0.1s;
        animation: mask both ease-out 0.7s;
    }
    &.hidden{
        display: none;
    }
}

/* 헤더 */
header{
    position: fixed;
    width: 100%;
    transition: all 0.3s;
    z-index: 555;
    & .header_inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 92%;
        margin: 0 auto;
        padding: 30px 0;
        transition: .5s ease;
            & h1{
                z-index: 5;
                & a.logo {
                    display: block;
                    font-size: 30px;
                    color: $mainColor;
                    letter-spacing: -2px;
                    font-family: 'Montserrat', sans-serif;
                    transition: .5s ease;
                    @include mobile {
                        font-size: 24px;
                    }
                    &.active{
                        color: $white;
                    }
                }
            }
            & nav{
                @include laptop {
                    display: none;
                }
                & ul{
                    display: flex;
                    justify-content: space-between;
                    gap: 0 40px;
                    & li {
                        text-align: center;
                        & a {
                            position: relative;
                            display: block;
                            font-size: 18px;
                            color: $mainColor;
                            font-weight: 300;
                            font-family: 'Montserrat', sans-serif;
                            transition: all .3s;
                            &:before{
                                content: "";
                                display: block;
                                position: absolute;
                                left: 0px;
                                bottom: -8px;
                                width: 100%;
                                height: 1px;
                                background-color: $mainPointColor;
                                transform: scaleX(0);
                                transition: transform 0.3s;
                                transform-origin: 100% 0;
                            }
                            &:hover{
                                color: $mainPointColor;
                                &::before{
                                    transform: scaleX(1);
                                    transform-origin: 0 0;
                                }
                            }
                        }
                    }
                }
            }
            & .nav_btn{
                display: none;
                flex-direction: column;
                justify-content: center;
                position: relative;
                width: 26px;
                height: 18px;
                background: 0;
                border: 0;
                z-index: 5;
                &.active{
                    & span{
                        background: $white;
                        &:nth-child(1){
                            -webkit-transform: translateY(10px) rotate(45deg);
                            -ms-transform: translateY(10px) rotate(45deg);
                            -o-transform: translateY(10px) rotate(45deg);
                            transform: translateY(10px) rotate(45deg);
                        }
                        &:nth-child(2){
                            opacity: 0;
                        }
                        &:nth-child(3){
                            -webkit-transform: translateY(-6px) rotate(-45deg);
                            -ms-transform: translateY(-6px) rotate(-45deg);
                            -o-transform: translateY(-6px) rotate(-45deg);
                            transform: translateY(-6px) rotate(-45deg);
                        }
                    }
                }
                @include laptop {
                    display: flex;
                }

                & span{
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background: $mainColor;
                    transition: .5s ease;
                
                    &:nth-child(1){
                        top: 0;
                    }
                    &:nth-child(2){
                        top: 50%;
                        transform: translateY(-50%);
                        width: 75%;
                    }
                    &:nth-child(3){
                        bottom: 0;
                    }
                }
            }
            & .nav_box{
                position: fixed;
                top: 0;
                left: 0;
                transform: translateX(100%);
                width: 100%;
                height: 100%;
                background: $mainColor;
                opacity: 0;
                visibility: hidden;
                z-index: 1;
                transition: .5s ease;
                &.active{
                    transform: translateX(0);
                    visibility: visible;
                    opacity: 1;
                }
                & ul{
                    position: absolute;
                    top: 50%;
                    left: 8%;
                    transform: translateY(-50%);
                    & li{
                        line-height: 1.5;
                        & a{
                            font-size: 90px;
                            color: $white;
                            text-transform: uppercase;
                            font-weight: 600;
                            font-family: "Montserrat", sans-serif;
                            transition: all .4s ease;
                            @include tablet {
                                font-size: 70px;
                            }
                            @include mobile {
                                font-size: 12.5vw;
                            }
                            &:hover{
                                background: -webkit-linear-gradient(-85deg, rgb(57, 89, 79), rgb(255, 255, 255));
                                background: linear-gradient(-85deg, rgb(57, 89, 79), rgb(255, 255, 255));
                                -webkit-background-clip: text;

                                color: transparent;
                            }
                        }
                    }
                }
            }
    }
}

/* 배너 */
.visual {
    position: relative;
    overflow: hidden;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background: $white;

    & .inner .visual_txt{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 2;

        @include tablet {
            line-height: 2;
        }
        & .word{
            display: none;
            overflow: hidden;
            position: relative;
            font-size: 170px;
            color: $mainColor;
            letter-spacing: -6px;
            line-height: 1;
            font-weight: 900;
            font-family: 'Montserrat', sans-serif;
            text-shadow: 1px 3px 3px rgba(255, 255, 255, .3);

            @include laptopL {
                font-size: 140px;
            }

            @include laptop {
                font-size: 120px;
            }
            @include tablet {
                font-size: 14.323vw;
                letter-spacing: -3px;
            }

            &.on{
                display: inline-block;
            }
        }
        & .word2{
            color: $mainPointColor;
        }
        & .rect{
            width: 100%;
            height: 100%;
            position: absolute;
            background: $mainColor;
            top: 0;
            left: 0;
        }
        & .scroll{
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
/* 프로필 */
.profile {
    overflow: hidden;
    position: relative;
    display: flex;
    height: 800px;
    @include laptop {
        flex-direction: column;
        height: auto;
    }
    & .about{
        overflow: hidden;
        position: absolute;
        left: 0;
        width: 58%;
        // background: $mainPointColor;
        // border-radius: 0 70px 70px 0;
        z-index: 1;
        @include laptopL {
            width: 56%;
        }
        @include laptop {
            position: static;
            width: 100%;
            background: $mainPointColor;
        }
        & .txt_bg{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background: $mainPointColor;
            transform: translateX(-100%);
            transition: border-radius .9s;
            @include laptop {
                display: none;
            }
            &.bdRadius{
                border-radius: 0 0 350px 0;
                border-radius: 0 70px 70px 0;
            }
        }
        & .txt_box{
            display: flex;
            align-items: center;
            position: relative;
            height: 680px;
            padding: 0 5% 0 15%;
            z-index: 1;
            @include laptopL {
                padding: 0 5% 0 4%;
            }
            @include desktop {
                height: 600px;
            }
            @include laptop {
                height: auto;
                padding: 60px 40px;
            }
            @include mobile {
                height: auto;
                padding: 60px 20px;
            }
            & .area{
                & .txt_line p {
                    font-size: 40px;
                    line-height: 1.4;
                    color: $white;
                    font-family: "S-CoreDream-5Medium";
                    transform: translateY(100%);
                    -moz-transform: translateY(100%);
                    -ms-transform: translateY(100%);
                    -o-transform: translateY(100%);
                    transition: all 1.3s;
                    opacity: 0;
                    @include desktop {
                        font-size: 32px;
                    }
                    @include mobile {
                        font-size: 24px;
                    }
                    &.active {
                        transform: translateY(0);
                        -moz-transform: translateY(0);
                        -ms-transform: translateY(0);
                        -o-transform: translateY(0);
                        transition: transform 1.3s;
                        opacity: 1;
                    }
                }
                & .desc {
                    width: 78%;
                    padding-top: 30px;
                    font-size: 28px;
                    text-align: left;
                    line-height: 1.8;
                    color: $white;
                    font-family: 'S-CoreDream-3Light';
                    word-break: keep-all;
                    @include laptopL {
                        width: 100%;
                    }
                    @include desktop {
                        font-size: 21px;
                    }
                    @include mobile {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    & .info{
        display: flex;
        align-items: center;
        position: absolute;
        top: 100px;
        right: 0;
        width: 52%;
        height: 635px;
        border-radius: 70px 0 0 70px;
        border: 1px solid $mainColor;
        border-right:0;
        @include desktop {
            height: 560px;
        }
        @include laptop {
            position: static;
            width: 100%;
            height: auto;
            border: 0;
            border-radius: 0;
            border-bottom: 1px solid $mainColor;
        }
        &.bd{
            border: 1px solid $mainColor;
        }
        & .area{
            padding: 0 10% 0 28%;
            @include laptopL {
                padding-left: 24%;
            }
            @include laptop {
                padding: 60px 40px;
            }
            @include mobile {
                padding: 60px 20px;
            }
            & h4{
                font-size: 32px;
                line-height: 1.4;
                color: $fontColor;
                font-family: "S-CoreDream-5Medium";
                @include desktop {
                    font-size: 28px;
                }
                @include mobile {
                    font-size: 24px;
                }
            }
            & .c_name{
                display: block;
                padding-top: 30px;
                font-size: 18px;
                color: $fontColor;
                line-height: 2.2;
                font-family: "S-CoreDream-5Medium";
                @include mobile {
                    padding-top: 20px;
                    font-size: 16px;
                }
            }
            & .history ul{
                margin-top: 5px;
                & li{
                    &.c_desc{
                        margin-left: 2rem;
                        font-size: 16px;
                        font-family: "S-CoreDream-3Light";
                        line-height: 2.2;
                        word-break: keep-all;
                        list-style: disc;
                        @include mobile {
                            font-size: 14px;
                        }
                        &::marker {
                            color: #39594f;
                            font-size: 16px;
                            @include mobile {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
            & .skill{
                margin-top: 30px;
                & ul{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
                    margin-top: 30px;
                    @include mobile {
                        margin-top: 20px;
                    }
                    & li{
                        padding: 5px 10px;
                        border-radius: 10px;
                        background: $mainPointColor;
                        font-size: 15px;
                        color: $white;
                        font-family: "S-CoreDream-3Light";
                        @include mobile {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        
    }
}

/* 목표 및 기술 */
.goal {
    padding: 160px 0;
    @include desktop {
        padding: 120px 0;
    }
    @include mobile {
        padding: 60px 0;
    }
    & .inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include laptop {
            flex-direction: column;
            gap: 40px 0;
        }
        @include mobile {
            gap: 30px 0;
        }
        & .txt_line{
                position: sticky;
                top: 120px;
                align-self: flex-start;
                @include laptop {
                   position: static;
                }
            & h2{
                font-size: 52px;
                color: $mainPointColor;
                letter-spacing: -1px;
                font-family: "S-CoreDream-5Medium";
                text-align: center;
                transform: translateY(100%);
                -moz-transform: translateY(100%);
                -ms-transform: translateY(100%);
                -o-transform: translateY(100%);
                transition: all 1.3s;
                opacity: 0;
                @include desktop{
                    font-size: 42px;
                }
                @include mobile {
                    font-size: 24px;
                }
                &.active {
                    transform: translateY(0);
                    -moz-transform: translateY(0);
                    -ms-transform: translateY(0);
                    -o-transform: translateY(0);
                    transition: transform 1.3s;
                    opacity: 1;
                }
            }
        }
        & .list_box {
            width: 65%;
            @include laptop {
                width: 100%;
            }
            & .list li {
                position: relative;
                padding-left: 5px;
                font-size: 24px;
                line-height: 2;
                color: $fontColor;
                word-break: keep-all;
                font-family: "S-CoreDream-3Light";
                list-style: disc;
                @include desktop {
                   font-size: 21px;
                }
                @include laptop {
                    margin-left: 23px;
                }
                @include mobile {
                    margin-left: 20px;
                    padding-left: 0;
                    font-size: 14px;
                }
                &::marker {
                    color: $mainPointColor;
                    font-size: 16px;
                    @include mobile {
                        font-size: 14px;
                        padding-left: 0px;
                    }
                }
                &:not(:last-child){
                    margin-bottom: 20px;
                }
            }
        }
    }
   
}

/* 포트폴리오 */
.portfolio {
    overflow: hidden;
    position: relative;
    background: $white;
    height: 100vh;
    @include laptop {
        height: 68.359vw;
    }
    @include laptop {
        height: 83.333vw;
    }
    & .inner{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        & .txt_box{
            display: flex;
            align-items: end;
            justify-content: center;
            height: 100%;
            & span{
                position: absolute;
                color: #e0e0e0;
                opacity: 0.2;
                font-size: 280px;
                letter-spacing: -7px;
                font-weight: 700;
                font-family: 'Pretendard';
                @include laptopL{
                    font-size: 17.143vw;
                }
                @include mobile {
                    letter-spacing: -3px;
                }
                &.bg_txt1{
                    top: 5%;
                    left: -5%;
                    @include laptopL {
                        top: 7.143vw;
                    }
                    @include mobile {
                        top: 13vw;
                    }
                }
                &.bg_txt2 {
                    right: -5%;
                    top: 43%;
                    @include laptopL {
                        top: 25vw;
                    }
                    @include mobile {
                        top: 30vw;
                    }
                }
            }
            & .moreBtn {
                display: block;
                position: relative;
                margin-bottom: 100px;
                background: linear-gradient(to right, $mainPointColor 50%, rgba(255, 255, 255) 50%);
                background-size: 200% 100%;
                background-position-x: 100%;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                -webkit-background-clip: text;
                border-bottom: 2px solid $mainPointColor;
                font-size: 52px;
                line-height: 1.4;
                color: transparent;
                text-stroke: 1px #000;
                -webkit-text-stroke: 1px #000;
                text-align: center;
                font-family: "S-CoreDream-3Light";
                transition: all .8s cubic-bezier(0, 0, .23, 1);
                z-index: 1;
                @include laptop {
                    font-size: 4.102vw;
                    margin-bottom: 9.766vw;
                }
               
                &:after{
                    display: block;
                    content: "";
                    position: absolute;
                    bottom: -2px;
                    border-bottom: 2px solid $mainPointColor;
                    transform: scaleX(0);
                    -webkit-transform: scaleX(0);
                    -ms-transform: scaleX(0);
                    transition: all .5s;
                    transform-origin: 0% 50%;
                    position: relative;
                }
                &:hover{
                    transform: translateY(-20px);
                    border-bottom: 2px solid transparent;
                }
                &:hover:after{
                    transform: scaleX(1);
                    -webkit-transform: scaleX(1);
                    -ms-transform: scaleX(1);
                }
            }
        }
        
    }
}

 
.contact{
    padding: 80px 0;
    background: $mainColor;
    & .inner{
        position: relative;
        & .txt_line{
            & h2{
                font-size: 42px;
                color: $white;
                font-family: "S-CoreDream-3Light";
            }
        }
        & p{
            padding-top: 30px;
            font-size: 24px;
            color: $white;
            line-height: 1.6;
            font-family: "S-CoreDream-3Light";
        }
        & .ico{
            position: absolute;
            top: 0;
            right: 20px;
            & svg{
                fill: $white
            }
        }
    }
}

// 푸터
.footer{
    padding: 20px 0 40px 0;
    background: $mainColor;
    & .inner{
        position: relative;
        & .copy{
            font-size: 14px;
            text-align: center;
            color: $white;
        }
        & .top{
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            color: $white;
            font-size: 21px;
            & svg{
                width: 40px;
                height: 40px;
                border: 1px solid $white;
                fill: $white;
                opacity: .7;
            }
        }
    }
}

/* 포트폴리오 페이지*/
.sub{
    .header{
        & .header_inner{
            & nav{
                @include laptop {
                    display: block;
                }
            }
        }
    }
    .pf {
        background: #f5f5f5;
        padding: 250px 0 140px 0;
        @include mobile {
            padding-top: 200px;
        }
        & .inner {
            & .sub_tit {
                font-size: 80px;
                color: $mainPointColor;
                font-family: "S-CoreDream-6bold";
                @include laptop {
                    font-size: 60px;
                }
                @include tablet {
                    font-size: 42px;
                }
                @include mobile {
                    font-size: 34px;
                }
            }

            & .portfolio_box {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 80px 30px;
                margin-top: 60px;
                @include desktop{
                    grid-template-columns: repeat(3, 1fr);
                }
                @include laptop {
                    grid-template-columns: repeat(2, 1fr);
                    grid-column-gap: 20px;
                    margin-top: 40px;
                }
                @include tablet {
                    grid-gap: 60px 10px;
                }
                @include mobile {
                    grid-template-columns: 1fr;
                    margin-top: 30px;
                }
                & .list {
                    & .list_img {
                        position: relative;
                        height: 238px;
                        border: 1px solid #ddd;  
                        @include laptop {
                            height: 27.832vw;
                        }
                        @include mobile {
                            height: 57.292vw;
                        }
                        &:hover .pf_mask{
                            opacity: 1;
                            visibility: visible;
                        }
                        & .pf_mask {
                            position: absolute;
                            top: 0;
                            left: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            height: 100%;
                            background: rgba(0, 0, 0, .8);
                            transition: all .3s;
                            opacity: 0;
                            visibility: hidden;
                            @include laptop{
                                display: none;
                            }
                            & .pf_more{
                                padding: 15px 25px;
                                border: 1px solid $white;
                                border-radius: 30px;
                                font-size: 18px;
                                color: $white ;                           
                                font-family: "S-CoreDream-5Medium";
                                transition: all .3s;
                                &:hover{
                                    background: $mainPointColor;
                                    border: 1px solid $mainPointColor;
                                }
                            }

                        }
                        & img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    @for $i from 1 through 15 {
                        .list_img#{$i}{
                            background: url(../img/pf#{$i}.jpg) no-repeat 50% 50%;
                            background-size: cover;
                        }
                    }
                    & .title {
                        & h4 {
                            padding-top: 20px;
                            font-size: 24px;
                            letter-spacing: -1px;
                            font-family: "S-CoreDream-5Medium";
                            @include laptop {
                                font-size: 21px;
                            }
                          
                            @include mobile {
                                font-size: 18px;
                            }
                        }
                        & .m_pf_more{
                            display: none;
                            margin-top: 20px;
                            background: $mainPointColor;
                            padding: 10px 20px;
                            border-radius: 20px;
                            font-size: 16px;
                            color: $white;
                            
                            @include laptop{
                                display: block;
                            }
                        }
                    }
                   
                }
            }
        }
    }
    .pf_modal{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.7); 
        z-index: 666;
        & .modal_wrap{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 940px;
            width: 100%;
            max-height: 700px;
            height: 600px;
            padding: 60px 20px;
            background: #fff;
            border-radius: 30px;
            @include desktop {
               width: 90%;
            }
            @include mobile {
               width: 80%;
               height: 500px;
            }
            & .view_cont{
                position: relative;
                width: 100%;
                height: 100%;
                overflow-y: auto;
                -ms-overflow-style: none;
                /* 인터넷 익스플로러 */
                scrollbar-width: none;
                /* 파이어폭스 */
                &::-webkit-scrollbar{
                    width: 3px;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: $fontColor;
                }
                &::-webkit-scrollbar-track {
                    background-color: #ddd;
                }
                & button{
                    position: fixed;
                    top: 10px;
                    right: 2%;
                    & span{
                        font-size: 42px;
                        @include mobile {
                            font-size: 34px;
                        }
                    }
                }
                & .pf_title{
                    text-align: center;
                    h2{
                        padding-top: 30px;
                        font-size: 34px;
                        color: $fontColor;
                        font-family: "S-CoreDream-6Bold";
                        @include tablet {
                            font-size: 28px;
                        }
                        @include mobile {
                            font-size: 24px;
                        }
                    }
                    & a {
                        display: block;
                        width: 200px;
                        height: 60px;
                        line-height: 60px;
                        margin: 40px auto;
                        background: $mainPointColor;
                        border-radius: 30px;
                        font-size: 18px;
                        color: $white;
                        text-align: center;
                        font-family: "S-CoreDream-3Light";
                        @include mobile {
                           width: 180px;
                           font-size: 16px;
                        }
                    }
                    & img {
                        width: 100%;
                        border: 1px solid #ddd;
                        box-sizing: border-box;
                    }
                }
                & .pf_info{
                    & h3{
                        padding-top: 30px;
                        font-size: 21px;
                        color: $fontColor;
                        font-weight: 600;
                        @include mobile {
                            padding-top: 20px;
                            font-size: 18px;
                        }
                    }
                    & .desc{
                        width: 90%;
                        padding-top: 10px;
                        font-size: 18px;
                        color: $fontColor;
                        line-height: 1.5;
                        word-break: keep-all;
                        @include mobile {
                            width: 100%;
                            font-size: 14px;
                        }
                    }
                    & .work_info{
                        position: relative;
                        padding-top: 40px;
                        &::before{
                            content: '';
                            display: block;
                            position: absolute;
                            top: 20px;
                            left: 0;
                            width: 30px;
                            height: 2px;
                            background: $fontColor;
                        }
                        & p{
                            font-size: 16px;
                            line-height: 1.5;
                        }
                    }
                   
                }
            }    
        }
    }
}
